.profile__info {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    text-align: left;
    padding: 1em;
    display: none;
    
    .active & {
        display: block;
    }
}

// .active .profile__info {
//   display: block;
// }
