$icon-size: 1.5rem; // 24px
$header-bg: black;
$header-color: grey;

header {
    background-color: $header-bg;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-content: center;
    align-content: flex-end;
    
    h1 {
        margin: 0 1rem; 
        color: $header-color;
    }

    span.svg {
        height: $icon-size;
        flex: 0 0 $icon-size;
        align-self: flex-end;
        align-self: center;
        svg {
            fill: white;
            fill: $header-color;
        }
    }
}
