/* Box Sizing */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* dumb reset 
* { 
  padding: 0;
  margin: 0;
}
*/

$proxima: "proxima-nova", 'helvetica', sans-serif;
$grey-light: #fafafa;

.app {
  text-align: center;
  
  // prevent scroll?
  &.active {
    overflow: hidden;
    height: 100vh;
  }
}

/* Typography */

h1 {
  font-family: $proxima;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1;
  margin: 0 0 .5rem;
  color: grey;
}

h3 {
  margin: 0;
  font-family: $proxima;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.3333;
  text-transform: uppercase;
  color: black;
}

p {
  font-size: 1rem;
  margin-bottom: 1.675em;
  margin-top: 0.5em;
  font-family: monospace;
  line-height: 1.25rem;
}

.debug {
  h1 { background-color:white }
  h3 { background-color:green }
}
